<html>
    <head>
        <Title>ConvertMyMoney</Title>
        <link href="/estilos.css" rel="stylesheet"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
    <body class="bg-light">
        <div class ="container">
            <div class ="py-5 text-center">
                 <a href="/"><img class="d-block mx-auto mb-4" src="/logo.png" alt="Convert my money" width="400" height="50"></a>
            </div>
            <div class="row">
        